services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  app1:
    build: .
    container_name: app1
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
    depends_on:
      - redis

  app2:
    build: .
    container_name: app2
    ports:
      - "8081:8080"
    environment:
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
    depends_on:
      - redis

  app3:
    build: .
    container_name: app3
    ports:
      - "8082:8080"
    environment:
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
    depends_on:
      - redis

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
    - "80:80"
    volumes:
    - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
    - app1
    - app2
    - app3